* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #222;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark .container {
    background: #1e1e1e;
}

.dark button {
    background: #f4f4f4;
    color: #121212;
}